/* aboutUs.css */
.about-container {
  margin-top: 40px;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
}

.about-heading {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5em;
  color: #007bff;
}

.info-card {
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Styles for the task item container */
.task-item-container {
  width: 30%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

/* Styles for the task card */
.task-card {
  border: 3px solid black;
}

.news-container {
  width: 100%;
  padding: 20px;
}

.news-article {
  background-color: rgba(128, 128, 128, 0.7);
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 10px;
  overflow: hidden; /* In case of long non-breaking text */
}

.news-article h2 {
  margin-top: 0;
}

.news-article img {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px;
  margin-top: 10px; /* Add space above the image */
}

.news-article a {
  color: #ffd700;
  text-decoration: none; /* Optional: removes underline from links */
}

.news-article a:hover,
.news-article a:focus {
  text-decoration: underline; /* Optional: adds underline on hover/focus for links */
}


/* Styles for the task card header */
.task-card-header {
  background-color: lightgray;
  border: 1px solid black;
}

/* Styles for the task card body */
.task-card-body {
  border: 1px solid black;
}

/* Styles for the task description paragraph */
.task-description {
  border: 1px solid black;
  padding: 5px;
}

/* Styles for the task priority footer */
.task-priority {
  width: 35%;
  margin: auto;
  border: 1px solid black;
  padding: 5px;
}

/* Styles for the task card actions section */
.task-card-actions {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

/* Styles for the edit button */
.edit-button {
  margin-right: 10px;
}



.info-image {
  width: 200px;  /* Set a fixed width for square images */
  height: 180px; /* Set a fixed height for square images */
  margin-right: 20px;
}

.info-text {
  flex: 1;
}

.info-card h3 {
  color: #007bff;
  margin-bottom: 10px;
}

.info-card p {
  color: #495057;
}
